:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: 0 auto;
  min-height: 100dvh;
  background-color: var(--black);
}

.not-found {
  font-size: var(--font-heading-lg-size);
  font-family: var(--font-family-02);
  display: flex;
  align-items: center;
  position: absolute;
  color: var(--white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
