.tasks {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100%;
  overflow: hidden;
  background-color: var(--blue-02);

  &__content {
    height: 90dvh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 32px 40px;
    background: var(--blue-02);
  }
}
