:root {
  --white: #e0e3ec;
  --black: #222831;
  --gray: #383c42;

  --blue-01: #4c8ce4;
  --blue-02: #87b6bc;
  --blue-03: #bed4cb;

  --red-01: #ff4d4f;

  --yellow-01: #fff799;

  --hover: #5d9af0;

  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --white-shadow:
    rgba(125, 125, 125, 0.1) 0 10px 15px -3px,
    rgba(125, 125, 125, 0.05) 0 4px 6px -2px;
}
