:root {
  --font-family-01: "Stack Sans Notch", sans-serif;
  --font-family-02: "Google Sans", sans-serif;

  /* Head */
  --font-heading-weight: 600;

  --font-heading-title-size: 80px;
  --font-heading-lg-size: 50px;
  --font-heading-md-size: 32px;

  /* Body */
  --font-weight-regular: 400;

  --font-body-md-size: 18px;
  --font-body-sm-size: 14px;
}
